doctype html
html
  head
    title= title
    link(rel="stylesheet", type="text/css" href="/stylesheets/movielist.css")
    link(rel="stylesheet", type="text/css" href="/stylesheets/semantic.min.css")
  body
    block content
    div( class="ui fixed inverted menu" )
      div( class="ui container" )
        div( class="header item" )
          i( class="film icon" )
        a( href="/" class="active item" ) Home
        a( href="/new" class="item" ) New List
          
